html{
    height: 100%;
    width: 100%;
}
body{
    display: flex;
    color: black;
    margin:0;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    background-color: #139b6d;
    min-height: 100%;
    min-width: 100%;
}

.baseNavbar{
    display: flex;
    position: fixed;
    width: min-content;
    height: 100%;
    background-color: #18b37f;
    flex-direction: column;
    box-shadow: 0px 0px 10px rgba(31, 31, 31, 0.502);
}
li{
    justify-content: center;
    display: flex;
    align-content: center;
    list-style-type: none;
}
.iconNav{
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.588);
    background-color: #117f5a;
}
.baseNavbar .iconNav{
    overflow: hidden;
}
.iconNav a{
    user-select: none;
    width: 60px;
    height: 60px;
}
.iconNav img{
    width: 50px;
    height: 50px;
}
/* TOOLTIP (CAJITA HOVER) */
.tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    font-weight: bold;
    transition: .3s;
    transform: translateY(20px);
    opacity: 0;
    visibility: hidden;
    width: 120px;
    background-color: #117f5a;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 120%;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #117f5a transparent transparent;
  }
  .tooltip:hover .tooltiptext {
    transition: .3s;
    opacity: 1;
    visibility: visible;
  }
  /* icono carta kokoro */
  .gg-card-hearts {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 18px;
    height: 22px;
    border: 2px solid black;
    border-radius: 3px;
    transition: .3s;
}
.gg-card-hearts::after,
.gg-card-hearts::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 4px;
    height: 6px;
    background: rgb(144, 0, 0);
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    transform: rotate(45deg);
    left: 6px;
    top: 6px
}
.gg-card-hearts::after {
    transform: rotate(-45deg);
    left: 4px
}

  /* termina carta */

  /* icono agenda */
  .gg-album {
    transition: .3s;
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 18px;
    height: 18px;
    transform: scale(var(--ggs,1));
    border-left: 7px solid transparent;
    border-right: 3px solid transparent;
    border-bottom: 8px solid transparent;
    box-shadow: 0 0 0 2px black,
       inset 6px 4px 0 -4px black,
       inset -6px 4px 0 -4px black;
    border-radius: 3px
 }
 .gg-album::after,
 .gg-album::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 2px;
    height: 5px;
    background: black;
    transform: rotate(46deg);
    top: 5px;
    right: 4px
 }
 .gg-album::after {
    transform: rotate(-46deg);
    right: 2px
 }

 /* termina agenda xd */
.btnNav:hover .iconitoNav{
    transition: .3s;
    transform: rotate(-10deg);
}    
/* flor */
.iconitoNav{
    transition: .3s;
    font-size: 35px;
}
/* termina flor */
a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;  
    font-size: 1.2em;
    height: 60px;
    width: 60px;
}
ul{
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    white-space: none;
    padding: 0;
    margin: 0;  
    height: 100%;
}
.botNavbar{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.btnNav{
    user-select: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;    
    transition: .3s;
}
.btnNav a{
    transition: .3s;
}
.btnNav a:hover{
    transition: .3s;
    background-color: #117f5a;
}
.iconNav:hover a{
    overflow: hidden;
    animation:tada;
    animation-duration: 1s;
}
.cuerpoTotal{
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    width: 100%;
    background-image: url('res/img/leaves.png');
    background-size: 1500px;
}
.animalCards{
    display: flex;
}
.cards-wrapper{
    max-width: 1000px;
    overflow: hidden;
}
.textoPrueba{
    display: flex;
    width: fit-content;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}
.mapaTotal{
    display: flex;
    justify-content: center;
}

/* MAPA SVG */
.mapa{
    width:480px;
    height:900px;
}
path{
    fill:white;
    stroke: white;
    transition: 2s;
}
path:hover{
    stroke:#117f5a;
    transition: .2s;
    fill:#117f5a; 
}

/* card info */

.card-total{
    display: flex;
    font-size: 1em;
    background-color: white;
    border-radius: 15px;
    min-width: 1000px;
    background-color: #18b37f;
}
hr{
    border:none;
    height: 1px;
    background-color: #117f5a;
}
.card-left{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-left-img{
    width: 300px;
    height: 300px;
    border-top-left-radius: 15px;
    object-fit:cover;
    user-select: none;
}
.card-left-facts{
    margin:10px 0px 0px 15px;
    display: flex;
    font-size: 16px;
    flex-direction: column;
}
.card-left-facts img{
    width: 270px;
    height: 50px;
    margin-bottom: 10px;
}
.card-left-facts li {
    justify-content: flex-start;
}

.card-right{
    display: flex;
    flex-direction: column;
    min-width: 500px;
}
.card-right-title{
    border-top-right-radius: 15px;
    background-image: url('./res/img/zebra.svg');
    background-size: 300px;
    padding: 10px;
    font-size: 36px;
    text-align: center;
    background-color: #117f5a;
}
.card-left-title-sub{
    font-size: 16px;
}
.card-right-desc{
    max-height: 160px;
    overflow-x:hidden;
    padding: 10px;
}
.card-right-body{
    text-align: justify;
    font-size: 18px;
    height: 502px;
    padding: 15px;
}
@media (max-height: 760px){
    .mapa{
        width:500px;
        height:550px;
    }
    
}

/* slider */

#sliderTotal{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#nextBtn, #prevBtn{
    margin: 20px;
    background-color: #18b37f;
    padding: 10px;
    user-select: none;
    border-radius: 20%;
}

#nextBtn:hover, #prevBtn:hover{
    cursor: pointer;
}

/* slider imgs */

.card-right-img-slider{
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-right-img-slider-prevBtn, .card-right-img-slider-nextBtn{
    cursor: pointer;
    user-select: none;
    padding: 10px;
    margin: 5px;
    border-radius: 20%;
    background-color:#139b6d;
}
.card-right-img-slider-container{
    display: flex;
    overflow: hidden;
    align-items: center;
}
.card-right-img-slider-wrapper{
    align-items: center;
    display: flex;
    flex-direction: row;
    max-width:500px;

}

.card-right-img-slider-element img{
    border-radius: 20px;
    width: 500px;
    height: 300px;
    object-fit:cover;
}